
.flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 150px;
}

.inner-flex-container {
    display: flex;
    margin-top: 30px;    
}

.line {
    border-left: 0.5px solid rgba(128, 128, 128, 0.2);
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    width: 180px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 1px;
    color: grey;
    font-weight: lighter;
}

.input {
    width: 180px;
}

.button > button {
    width: 180px;
    height: 45px;
    border-left: 2px solid grey;
    border-radius: 5px;
    color: grey;
}
.button {
    margin-left: 700px;
    margin-top: 30px;
    width: 150px;
}

.item1 {
    font-size: large;
    font-weight: bold;
}

.item2 {
    font-size: small;
    color: grey;
}

.item3-1 {
    text-align: right;
    margin-left: 100px;
    font-size: xx-large;
    font-weight: normal;
}

.item3-2 {
    text-align: right;
    margin-left: 100px;
    font-size: xx-large;
    font-weight: bolder;
}